body {
    font-family: Arial, sans-serif;
    background-color: #a6b4c1;
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    background-color: #d9eaf7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
    
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    text-align: center;
    padding-left: 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

th{
    padding: 5px;
    text-align: center;
    padding-left: 0px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

tbody{
    width: 90%;
    padding: 10px;
    text-align: center;
    padding-left: 0px;
    margin-bottom: 10px;
}
